/* setting same height for cells */

.card-header, .list-group-item {
    height: 7vh;
}

/* setting holiday line */

.list-group > :first-child {
    height: 5vh;
}

/* hours text centered */

.hourCol .list-group-item {
    text-align: center;
}

/* time slots */

.time-slot {
    display: flex;
}

.slot-event{
    font-size: 0.5em;
}

.slot-hour {
    font-size: 0.7em;
}

.daycard .list-group-item {
    padding: 0.2em;
}
