/* setting same height for cells */

.card-header, .list-group-item {
    height: 9vh;
}

/* setting holiday line */

.list-group > :first-child {
    height: 5vh;
}

/* hours text centered */

.hourCol .list-group-item {
    text-align: center;
}

/* time slots */

.time-slot {
    display: flex;
}

.slot-event{
    font-size: 0.8em;
}

.slot-hour {
    font-size: 0.8em;
}

.daycard .list-group-item {
    padding: 0.2em;
}

.excuse-button { 
    display: block;
    font-size: 0.8em;
}

.excuse-text {
    font-size: 0.7em;
}

.popup-button {
    float: right;
    margin: 0 0.5vh;
}

/* setting colors */

.bg-holiday {
    background-color: #CC444B;
    color: white;
}

.card-header {
}

.has-event {
    background-color: #FFF3E6;
}
